@media(max-width:991px){

    .hero-content{
        grid-template-columns:1fr;
        text-align:center;
    }

    .hero h1{
        font-size:3rem;
    }

    .benefits-grid,
    .modules-grid{
        grid-template-columns:1fr 1fr;
    }
}

@media(max-width:768px){

    .hero{
        padding:80px 0;
    }

    .hero h1{
        font-size:2.4rem;
    }

    .benefits-grid,
    .modules-grid{
        grid-template-columns:1fr;
    }

    .lead-card{
        padding:35px;
    }

    .final-cta h2{
        font-size:2rem;
    }
}